/* .habit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

#duration {
  outline: none;
  padding: 5px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  height: 34px;
  width: 200px;
  display: block;
  margin: 15px auto;
  z-index: 999;

} */

table {
  border: none;
  /* border-collapse: collapse; */
  width: 100%;
}

td, th {
  border: none;
  text-align: center;
  padding: 8px;
}

#duration {
  outline: none;
  padding: 5px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  height: 34px;
  width: 130px;
}